.my-btn{
  font-family: montserrat-bold, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 173px;
  border: solid 3px $header-text-color;
  color: $header-text-color;

}

.menu-xs__close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  color: $accent-color;
  cursor: pointer;

}