.my-btn{
  font-family: montserrat-bold, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 173px;
  border: solid 3px $header-text-color;
  color: $header-text-color;

}