.is-visible{
  display: flex!important;
}

.visually-hidden{
  text-indent:-9999px;
  font-size: 0;
}

.menu-xs{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(119, 119, 119, 0.5);
  z-index: 999;
}
