/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /* ---------------header--------------------*/
  .title__text{
    font-size: 5rem;
  }

  .title__header{
    font-size: 3rem;
  }

  /* ---------------header--------------------*/

  /* ---------------achievement--------------------*/
  .achievement{

    &__text{
      font-size: 3.5rem;
    }

    &__header{
      font-size: 0.525rem;
    }
  }

  /* ---------------achievement--------------------*/


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  //---------------header--------------------
  .menu {
    display: none;
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999999;

    &__items {
      display: block;
      margin: 15px;
    }

    &__link{
      font-size: 1.5rem;
      transition: 0.1s;
    }

  }

  .bars {
    display: block;
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
;

  // ---------------header--------------------

  /* ---------------achievement--------------------*/

  .achievement {

    &__text{
      font-size: 2.5rem;
    }

  }
  /* ---------------achievement--------------------*/
  .services{

    text-align: center;

    &__icon{
      margin: 0 auto 10px;
    }

  }




}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  /* ---------------header--------------------*/
  .title__text{
    font-size: 3rem;
    line-height: 3rem;
  }

  .title__header{
    font-size: 2rem;
  }

  .bottom-navbar{
    display: none;
  }

  /* ---------------header--------------------*/


  /* ---------------achievement--------------------*/

  .achievement {

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__items{
      border: none;

      &:last-child{
        border: none;
      }
    }

    &__text{
      font-size: 3.5rem;
    }

    &__header{
      font-size: 0.875rem;
    }

  }
  /* ---------------achievement--------------------*/

  /* ---------------devices--------------------*/
  .devices{
    display: block;

    &__img-ipad {
      display: none;
    }

    &__img-iphone{
      display: flex;
      position: static;
      margin: 30px auto;
    }

  }


  /* ---------------devices--------------------*/


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

