.achievement{
  width: 100%;
  background-color: $icon-color;
  color: $header-text-color;


  &__list{
    display: flex;
    min-height: 270px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__items{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    &:last-child{
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

  }

  &__text{
    font-family: montserrat-bold, sans-serif;
    font-size: 4.5rem;
  }

  &__header{
    font-family: montserrat-regular, sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
}