.heading{
  text-align: center;
  color: $accent-text-color;

  &__header{
    font-family: kaushanscript-regular, sans-serif;
    font-size: 1.5rem;
  }

  &__text{
    font-family: montserrat-bold, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 30px;
  }


  &:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background-color: $accent-color;

  }
}