.header{
  min-height: 100vh;
  padding-top: 35px;
  background: linear-gradient(to bottom, rgba(231,129,130,.9) 0%,rgba(238,217,138,.9) 100%),  url(../../images/banner.jpg) center ;
  background-size: cover;
  color: $header-text-color;
}

.logo{
  font-family: montserrat-bold, sans-serif;
  font-size: 1.875rem;
  color: $header-text-color;
}

.menu{
  text-align: right;
  display: flex;
  justify-content: space-between;

  &__items{
    display: inline-block;

  }

  &__link{
    color: $header-text-color;
    text-transform: uppercase;
    font-family: montserrat-regular, sans-serif;
    font-size: 0.875rem;
    padding-bottom: 0.75rem;
    transition: all 0.3s;

    &:hover{
      text-decoration: none;
      color: $accent-color-hover;
      border-bottom: solid 3px $accent-color-hover;


    }

    &--icon{

      &:hover{
        border-bottom: none;
      }
    }


  }
}


.title{
  text-align: center;

  &__header{
    margin: 160px 0 40px;
    font-family: kaushanscript-regular, sans-serif;
    font-size: 4.5rem;
  }

  &__text{
    margin-bottom: 50px;
    font-family: montserrat-bold, sans-serif;
    font-size: 9.375rem;
    line-height: 8.75rem;
    text-transform: uppercase;
    text-align: center;

    &:after{
      content: "";
      display: block;
      background-color: $header-text-color;
      width: 60px;
      height: 3px;
      margin: 38px auto 0;

    }
  }

}

.bottom-menu{


  &__items{
    display: inline-block;
    width: 21%;
    margin-right: 3%;
    opacity: .5;
    transition: all .3s;

    &:last-child{
      margin-right: 0;
    }
    
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 20px;
      background-color: #fff;

    }

    &:hover{
      opacity: 1;
    }

    &:hover.bottom-menu__items::before{
      background: linear-gradient(to right, rgba(243,129,129,1) 0%,rgba(241,129,127,1) 25%,rgba(255,255,246,1) 26%);
    }
  }

  &__link{
    color: $header-text-color;
    text-transform: uppercase;
    font-family: montserrat-regular, sans-serif;

    &--index{
      padding-right: 0.375rem;
      font-family: montserrat-bold, sans-serif;

    }

  }

}

.bars{
  display: none;
}