section.about
    .container
        .row
            .heading
                h2.heading__header What we do
                p.heading__text Story about us

            p.about__description
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur autem
                |consectetur cupiditate dicta, dolor eos eveniet ex molestiae odit! Accusantium aliquid,
                |consequuntur ipsa iusto nam non pariatur reiciendis unde.

    .container
        .row
            .col-md-4
                .about__item
                    .about__picture.about__picture--1.img-responsive
                        .about__wrapper
                            img.about__icon(src="images/USERS.png", alt='users')
                            p.about__text Super team

            .col-md-4
                .about__item
                    .about__picture.about__picture--2.img-responsive
                        .about__wrapper
                            img.about__icon(src="images/USERS.png", alt='users')
                            p.about__text Super team

            .col-md-4
                .about__item
                    .about__picture.about__picture--3.img-responsive
                        .about__wrapper
                            img.about__icon(src="images/USERS.png", alt='users')
                            p.about__text Super team