section.devices
    .container
        .row
            .heading
                h2.heading__header For all devices
                p.heading__text Unique design
    .container
        .row
            img.devices__img-ipad(src='images/Ipad.png' alt="Ipad")
            img.devices__img-iphone(src='images/Iphone.png')