section.services
    .container
        .row
            .heading
                h2.heading__header We work with
                p.heading__text Amazing services
    .container
        .row
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-alarm.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header Photography
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-graph.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header Web design
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-computer.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header Creativity
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-book.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header SEO
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-home.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header CSS/HTML
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?
            .col-md-4.col-sm-6
                .services__block
                    .services__icon.icon-image.col-md-3.col-sm-3
                    .services_wrapper.col-md-9.col-sm-9
                        h3.services__header Digital
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at ipsa quo?

